*{
	padding: 0px;
	margin: 0px;
}
body{
	font-family: 'Poppins', sans-serif;;
	font-size: 14px;
	line-height: 24px;
}
h1,h2,h3,h4,h5,h6{
	font-family: 'Poppins', sans-serif; ;
}
a,a:hover{
	text-decoration: none;
}
/***********************************
*   E-School code start
* **********************************/
/* header code start*/
.header{
	width: 100%;
	background: #F0FFF0;

}
.main-menu{
	width: 100%;

}
.main-menu .bg-light{
	background: transparent!important;
}
.main-menu .navbar-light .navbar-brand img{
	width: 198px;

}
.main-menu .navbar-light .navbar-nav .nav-link{
	color: 000;
	margin: 0px 0px 0px 15px;
	font-size: 14px;
	font-weight: 500;
	transition: 1s;
}
.navbar-light .navbar-nav .nav-link.active{
	color: #000;
	font-weight: 700;
}
.main-menu .navbar-light .navbar-nav .nav-link:hover{
	color: #21B573;

}
.main-menu .navbar-light .navbar-nav .btn-success {
    color: #fff;
    background-color: #21B573;
    border-color: #21B573;
    font-size: 16px;
    font-weight: 500;
    border-radius: 35px;
    padding: 10px 25px;
    margin: 0px 0px 0px 25px;
    transition: 1s;

}
.main-menu .navbar-light .navbar-nav .btn-success:hover,
.main-menu .navbar-light .navbar-nav .btn-success:focus{
	background: #000080;
	border-color: #21B573;
    color: #fff;
}
/* header code end*/
/* banner code start */
.banner{
    width: 100%;
    padding:80px 0px;
    margin-bottom: 80px;
}
.banner h4{
    color:#FD511A;
    font-size: 16px;
    line-height: 24px;
}
.banner h1{
    font-weight: bold;
    font-size: 48px;
    line-height: 70px;
}
.banner h1 span {
    color:#21B573;
}
.banner p{
    font-size: 16px;
    line-height: 36px;
    color: #6C6B6B;
    margin-bottom:35px;
}
.banner .btn-success {
    background: #21B573;
    color:#fff;
    font-size: 16px;
    font-weight: 500;
    padding: 9px 25px;
    border-radius: 35px;
    transition:0.5s
}
.banner .btn-success:hover{
   background: #000080;
}
/* banner code end */
/* feature-section start */
.inner-feature{
    width:100%;
    background-color: #F8FFFB;
    padding: 40px 20px;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 100px;
}
.inner-feature:hover{
    background: #FFFFFF;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
.inner-feature img{
    width: 70px;
    margin-bottom: 20px;
    height: 78px;
}
.inner-feature h4{
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color:#413960;
    margin-bottom: 0px;
}
.inner-feature p{
    font-size: 16px;
    line-height: 24px;
    color: #585859;
    margin-bottom: 0px;
}
/* feature-section end */
/* online course start */
.online-course .title{
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
    text-align: center;
    color: #413960;
    margin-bottom:80px;
}
.online-course .card{
    background: #FFFFFF;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
    border-radius: 18px;
    padding: 25px;
    margin-bottom:100px;
}
.online-course .card img{
    border-radius: 11px;
}
.online-course .card-body{
    padding:15px 0px 0px;
}
.online-course .card-body .card-title{
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #413960;
    margin-bottom: 0px;
}
.online-course .card-body .btn-success{
    background: #21B573;
    color:#fff;
    font-size: 16px;
    font-weight: 500;
    padding: 9px 25px;
    border-radius: 20px;
    transition:0.5s;
    margin-bottom: 20px;
}
.online-course .card-body .btn-success:hover{
    background-color: yellowgreen;
}
.online-course .card-body .card-text{
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #585859;
}
.online-course .card-body .icons {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    color: #585859;
}
.right{
    text-align: right;
}
/* online course end*/


/* testimonial start */
.testimonial{
    width: 100%;
    padding:80px 0px;
    margin-bottom: 20px;
}
.testimonial .title {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
    color: #000000;
    text-align: center;
    margin-bottom: 70px;
}
.testimonial img{
    width:110px;
}
.testimonial p {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    color: #000000;
}
/* testimonial end */
/* Footer section start */
.footer{
    width: 100%;
    padding: 80px 0px 10px 0px;
    background-color: #282531;
}
.footer p{
    color:#FFFFFF;
}
.footer h4 {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    color:#FFFFFF;
}
.footer .menu{
    list-style-type: none;
    padding:0px;
}
.footer .menu li{
    margin-bottom: 5px;
}
.footer .menu li a {
    color:#FFFFFF;
}
.copyright{
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    line-height: 30px;
    padding: 30px 0px;
}

  /* Footer section end */